<!DOCTYPE html>
<html>
<head>

    <title>Drone Monitor</title>

    <link href="/static/css/style.css" rel="stylesheet"/>
    <link href="/static/css/bootstrap.css" rel="stylesheet">

</head>
<body>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="error-template">
                    <h1>
                        Oops!</h1>
                    <h2>
                        404 Stránka nenalezena
                    </h2>
                    <div class="error-details">
                        Je nám líto, tato stránka neexistuje!
                    </div>
                    <div class="error-actions">
                        <a href="/" class="btn btn-primary btn-lg">
                            Domů
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>



</body>
</html>
